## itviec

In [ ]:
import pandas as pd

data_itviec = pd.read_csv("itviec_test.csv")
data_itviec.head()

In [ ]:
# in ra tên các cột
data_itviec.columns

In [ ]:
# đếm số lượng giá trị null trong cột 'Job name'
data_itviec['Job name'].isnull().sum()

In [ ]:
data_itviec.info()

In [ ]:
data_itviec.describe()

In [ ]:
# xoá \n trong cột 'Company size'
import pandas as pd

# Đọc file CSV
df = pd.read_csv('itviet_test.csv')

# Thay thế ký tự xuống dòng trong cột 'Company size'
df['Company size'] = df['Company size'].astype(str).str.replace('\n', ' ', regex=True)

# Lưu lại file đã xử lý
df.to_csv('itviet_cleaned.csv', encoding='utf-8-sig', index=False)

## topdev

In [2]:
import pandas as pd
data_topdev = pd.read_csv("topdev_test.csv")
data_topdev.head()

,Job name,Company name,Lương,Skills,Address,Work days,Level,Kinh nghiệm,Company size,link
0,Chuyên viên Kiểm thử phần mềm - Manual Tester ...,MBBANK,Negotiable,"Tester, xCode, Manual Test","Quận Cầu Giấy, Hà Nội",Fulltime,"Junior, Middle",2 năm,Hơn 1000 Employees,https://topdev.vn/detail-jobs/chuyen-vien-kiem...
1,JWAT Training Program (Java/Javascript),"CyberLogitec Vietnam Co., Ltd.",Negotiable,"Java, JavaScript, PostgreSql","Quận Tân Bình, Hồ Chí Minh",Fulltime,"Fresher, Intern",Không yêu cầu,500-999 Employees,https://topdev.vn/detail-jobs/jwat-training-pr...
2,Tester (Member/Leader),INFOPLUS,Up to 25.000.000 VND,"Tester, Automation Tester, Manual Tester","Quận Nam Từ Liêm, Hà Nội",Fulltime,"Trưởng Nhóm, Middle, Senior",3 năm,100-499 Employees,https://topdev.vn/detail-jobs/tester-member-le...
3,Dotnet/C# Developer,INFOPLUS,Up to 15.000.000 VND,"C#, .NET, Winform","Quận Nam Từ Liêm, Hà Nội",Fulltime,"Junior, Middle",2 năm,100-499 Employees,https://topdev.vn/detail-jobs/dotnet-c-develop...
4,Salesforce Marketing Cloud Developer,DTN E-COMMERCE SOFTWARE COMPANY LIMITED,Negotiable,"SQL, Marketing, Cloud","Quận Nam Từ Liêm, Hà Nội",Fulltime,"Middle, Senior",3 năm,25-99 Employees,https://topdev.vn/detail-jobs/salesforce-marke...

In [3]:
print(data_topdev.isnull().sum())

Job name        0
Company name    0
Lương           0
Skills          0
Address         0
Work days       0
Level           0
Kinh nghiệm     1
Company size    0
link            0
dtype: int64

In [4]:
data_topdev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job name      275 non-null    object
 1   Company name  275 non-null    object
 2   Lương         275 non-null    object
 3   Skills        275 non-null    object
 4   Address       275 non-null    object
 5   Work days     275 non-null    object
 6   Level         275 non-null    object
 7   Kinh nghiệm   274 non-null    object
 8   Company size  275 non-null    object
 9   link          275 non-null    object
dtypes: object(10)
memory usage: 21.6+ KB

In [5]:
data_topdev.describe()

,Job name,Company name,Lương,Skills,Address,Work days,Level,Kinh nghiệm,Company size,link
count,275,275,275,275,275,275,275,274,275,275
unique,259,120,54,240,32,2,19,27,9,275
top,Backend Developer,MBBANK,Negotiable,Business Analyst,"Quận Cầu Giấy, Hà Nội",Fulltime,"Middle, Senior",3 năm,Hơn 1000 Employees,https://topdev.vn/detail-jobs/chuyen-vien-kiem...
freq,3,24,197,4,57,274,65,70,72,1

In [ ]:
# in ra số dòng của data_topdev
print(data_topdev.shape[0])

In [ ]:
# in ra tên các cột
print(data_topdev.columns)
# in ra số lượng cột
print(data_topdev.shape[1])

Index(['Job name', 'Company name', 'Lương', 'Skills', 'Address', 'Work days',
       'Level', 'Kinh nghiệm', 'Company size', 'link'],
      dtype='object')
10

In [ ]:
# in ra columns của itviet
data_itviet_cleaned = pd.read_csv("itviet_cleaned.csv")
print(data_itviet_cleaned.columns)
print(data_itviet_cleaned.shape[1])

In [ ]:
# xem thử 2 dòng đầu topdev
data_topdev.head(2)

In [ ]:
# xem thử 2 dòng đầu itviet
data_itviet_cleaned.head(2)

In [ ]:
# in ra những link bị trùng trong itviet_cleaned.csv
data_itviet_cleaned = pd.read_csv("itviet_cleaned.csv")
duplicate_links = data_itviet_cleaned[data_itviet_cleaned.duplicated(subset=['link'], keep=False)]
print(duplicate_links)

In [ ]:
# in ra những link bị trùng trong topdev_test.csv
duplicate_links_topdev = data_topdev[data_topdev.duplicated(subset=['link'], keep=False)]
print(duplicate_links_topdev)

In [ ]:
# cột 'Work at' trong itviet_cleaned.csv có những loại unique nào
data_itviet_cleaned = pd.read_csv("itviet_cleaned.csv")
print(data_itviet_cleaned['Work at'].unique())

In [ ]:
print(data_itviet_cleaned['Work days'].unique())

In [ ]:
data_topdev = pd.read_csv("topdev_test.csv")
print(data_topdev['Work days'].unique())

## Nối 2 files csv

In [ ]:
import pandas as pd

# Đọc hai file CSV
df_itviet = pd.read_csv('itviet_cleaned.csv')
df_topdev = pd.read_csv('topdev_test.csv')

# Xác định tập hợp tất cả các cột từ cả hai DataFrame
all_columns = sorted(set(df_itviet.columns).union(set(df_topdev.columns)))

# Chuẩn hóa hai DataFrame để có cùng cột, điền thiếu bằng NaN
df_itviet_full = df_itviet.reindex(columns=all_columns)
df_topdev_full = df_topdev.reindex(columns=all_columns)

# Ghép hai DataFrame lại với nhau
df_combined = pd.concat([df_itviet_full, df_topdev_full], ignore_index=True)

# Lưu ra file mới
df_combined.to_csv('combined_jobs.csv', encoding='utf-8-sig', index=False)

In [ ]:
# đếm số dòng của itviet_cleaned, topdev_test, combined_jobs
data_itvietclean = pd.read_csv("itviet_cleaned.csv")
data_topdev = pd.read_csv("topdev_test.csv")
data_combined = pd.read_csv("combined_jobs.csv")

print("Số dòng của itviet_cleaned:", data_itvietclean.shape[0])
print("Số dòng của topdev_test:", data_topdev.shape[0])
print("Số dòng của combined_jobs:", data_combined.shape[0])

In [ ]:
import pandas as pd

# Đọc file CSV
df = pd.read_csv('combined_jobs.csv')

# Xác định thứ tự cột mong muốn
desired_order = [
    'Job name', 'Company name', 'Star', 'Lương', 'Skills', 'Job Expertise',
    'Job Domain', 'Kinh nghiệm', 'Level', 'Work at', 'Work days',
    'Company size', 'Address', 'Company industry', 'Company country', 'link'
]

# Đảm bảo các cột còn thiếu được thêm vào với giá trị NaN
for col in desired_order:
    if col not in df.columns:
        df[col] = pd.NA

# Sắp xếp lại thứ tự cột
df = df[desired_order]

# Lưu ra file mới
df.to_csv('combined_jobs_ordered.csv', encoding='utf-8-sig', index=False)

In [ ]:
# số dòng của combined_jobs_ordered.csv
data_combined_ordered = pd.read_csv("combined_jobs_ordered.csv")
print("Số dòng của combined_jobs_ordered.csv:", data_combined_ordered.shape[0])

In [ ]:
# in ra những cột Job name null
data_combined_ordered[data_combined_ordered['Job name'].isnull()]

In [ ]:
# kiểm tra kiểu dữ liệu của các cột trong combined_jobs_ordered.csv
data_combined_ordered.dtypes

In [ ]:
# in ra tất cả unique cột Lương
df = pd.read_csv('combined_jobs_ordered.csv')
unique_salaries = df['Lương'].unique()
print(len(unique_salaries))

In [ ]:
# lưu tất cả unique cột Lương vào file text
with open('unique_salaries.txt', 'w', encoding='utf-8') as f:
    for sal in unique_salaries:
        f.write(f"{sal}\n")